<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<center>
  <h1>Contacts:</h1>
  <form action="/" method="POST">
    <label for="message">Your message:</label>
    <input type="text" id="message" name="message"><input type="submit" value="Submit">
  </form>
  <img src="tatsumaki.png"/>
</center>
</body>
</html>