<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <h1>Contacts:</h1>
  <form action="/" method="POST">
    <label for="message">Your message:</label>
    <input type="text" required id="message" name="message"><input type="submit" value="Send">
  </form>
  <% if (alert == 'ok') { %>
    <img src="ok.png" width="30%" height="30%"/>
  <% } else { %>
    <img src="tatsumaki.png"/>
  <% } %>

</body>
</html>
